/* You can add global styles to this file, and also import other style files */
body{
    margin:0 10% 10% 10%;
    padding: 1%;
    background-image: linear-gradient(to right, rgb(130, 139, 219) , rgb(189, 241, 176));
  
}
img{
    min-width: 140px;
    min-height: 100px;
}

h3{
    text-align: center;
}

